backend/venv/
frontend/node_modules/
frontend/build/
frontend/dist/
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info/
*.coverage
*.mypy_cache/
*.pytest_cache/
*.vscode/
.idea/
todo